blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
body {
  font: 16px "微软雅黑";
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
em,
i {
  font-style: normal;
}
/* 解决高度塌陷 */
.clearcollapse::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
/* 垂直居中(加定位) */
.midmost {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
